<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <!-- Stylesheets -->
    <link href="../style/bootstrap.css" rel="stylesheet">
    <link rel="../stylesheet" href="style/font-awesome.css">
    <link href="../style/style.css" rel="stylesheet">
    <link href="../style/bootstrap-responsive.css" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/JqueryToken.js"></script>

    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="js/html5shim.js"></script>
    <![endif]-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon/favicon.png">
</head>

<body>

    <!-- Form area -->
    <div class="admin-form">
        @Html.AntiForgeryToken()
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <!-- Widget starts -->
                    <div class="widget worange">
                        <!-- Widget head -->
                        <div class="widget-head">
                            <i class="icon-lock"></i> 登 陆
                        </div>

                        <div class="widget-content">
                            <div class="padd">
                                <!-- Login form -->
                                <form class="form-horizontal">
                                    <!-- Email -->
                                    <div class="form-group">
                                        <label class="control-label col-lg-3" for="inputEmail">Email</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                        </div>
                                    </div>
                                    <!-- Password -->
                                    <div class="form-group">
                                        <label class="control-label col-lg-3" for="inputPassword">密 码</label>
                                        <div class="col-lg-9">
                                            <input type="password" class="form-control" id="Password" placeholder="Password">
                                        </div>
                                    </div>
                                    <!-- Remember me checkbox and sign in button -->
                                   
                                        
                                    <div class="col-lg-9 col-lg-offset-2">
                                        <button id="Login" type="button" onclick="TLogin()" data-loading-text="正在提交..." class="btn btn-danger">登 陆</button>

                                    </div>
                                    <br />
                                </form>

                            </div>
                        </div>

                        <div class="widget-foot">
                            没有注册? <a href="../Users/Register">点击注册</a>
                        </div>
                        <div id="AlertDiv" class="alert alert-warning hide">
                            用户名或密码错误！请重新输入。
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- JS -->
    
    <script>
        function TLogin() {
            $("#Login").button('loading')
            $.ajaxAntiForgery({
                type: "post",
                data: { UserName: $("#inputEmail").val(), Password: $("#Password").val(),returnUrl: @ViewBag.returnUrl },
                url: "/Users/Login",
                success: function (data) {
                   
                    if (data.toString().indexOf("Sites")!= -1) {
                        window.location.href = "../"+data.toString().replace("Sites:","");
                    }
                    else {
                        $("#Login").button('reset')
                        AlertMsg(data.toString().replace("error:",""))
                    }
                }
            })
        }
        function AlertMsg( msg) {
            $("#AlertDiv").text(msg);
            $("#AlertDiv").attr("class", "alert alert-warning");        
        }
    </script>

</body>

</html>