<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="CustomBinding_IConfigService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:4502/ConfigService" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_IConfigService" contract="ConfigService.IConfigService"
                name="CustomBinding_IConfigService" />
        </client>
    </system.serviceModel>
</configuration>