<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="CustomBinding_IConfigService">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_IUserService">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_ICompanyService">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_ICasesCategoryService">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_INewsCategoryService">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_ICasesService">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_INewsService">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_IPatentService">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_ISinglePageService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:4502/ConfigService" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_IConfigService" contract="ConfigService.IConfigService"
                name="CustomBinding_IConfigService" />
            <endpoint address="net.tcp://localhost:4502/UserService" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_IUserService" contract="ConfigService.IUserService"
                name="CustomBinding_IUserService" />
            <endpoint address="net.tcp://localhost:4502/CompanyService" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_ICompanyService" contract="ConfigService.ICompanyService"
                name="CustomBinding_ICompanyService" />
            <endpoint address="net.tcp://localhost:4502/CasesCategoryService"
                binding="netTcpBinding" bindingConfiguration="CustomBinding_ICasesCategoryService"
                contract="ConfigService.ICasesCategoryService" name="CustomBinding_ICasesCategoryService" />
            <endpoint address="net.tcp://localhost:4502/CasesService" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_ICasesService" contract="ConfigService.ICasesService"
                name="CustomBinding_ICasesService" />
            <endpoint address="net.tcp://localhost:4502/NewsCategoryService"
                binding="netTcpBinding" bindingConfiguration="CustomBinding_INewsCategoryService"
                contract="ConfigService.INewsCategoryService" name="CustomBinding_INewsCategoryService" />
            <endpoint address="net.tcp://localhost:4502/NewsService" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_INewsService" contract="ConfigService.INewsService"
                name="CustomBinding_INewsService" />
            <endpoint address="net.tcp://localhost:4502/PatentService" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_IPatentService" contract="ConfigService.IPatentService"
                name="CustomBinding_IPatentService" />
            <endpoint address="net.tcp://localhost:4502/SinglePageService"
                binding="netTcpBinding" bindingConfiguration="CustomBinding_ISinglePageService"
                contract="ConfigService.ISinglePageService" name="CustomBinding_ISinglePageService" />
        </client>
    </system.serviceModel>
</configuration>