<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="CustomBinding_IConfigService">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_IUserService">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_ICompanyService">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_ICasesCategoryService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:4502/ConfigService" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_IConfigService" contract="ConfigService.IConfigService"
                name="CustomBinding_IConfigService" />
            <endpoint address="net.tcp://localhost:4502/UserService" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_IUserService" contract="ConfigService.IUserService"
                name="CustomBinding_IUserService" />
            <endpoint address="net.tcp://localhost:4502/CompanyService" binding="netTcpBinding"
                bindingConfiguration="CustomBinding_ICompanyService" contract="ConfigService.ICompanyService"
                name="CustomBinding_ICompanyService" />
            <endpoint address="net.tcp://localhost:4502/CasesCategoryService"
                binding="netTcpBinding" bindingConfiguration="CustomBinding_ICasesCategoryService"
                contract="ConfigService.ICasesCategoryService" name="CustomBinding_ICasesCategoryService" />
        </client>
    </system.serviceModel>
</configuration>