<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
   <appSettings>
    <add key="WebRoot" value="E:\myUfile\DigitalProject\DigitalProject\Digital.Web\Digital.Web\"/>
  </appSettings>
  <connectionStrings>
    <add name="CommunicationContext" connectionString="Data Source=CPC409-BCPC;User ID=aamdbuser;Password=Aam123!@#;Initial Catalog=Digital;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="CommunicationContext" connectionString="Data Source=localhost;port=3306;Initial Catalog=Digital;user id=root;password=123456;" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <entityFramework >
    <contexts>
      <context type="Digital.Contact.DAL.CommunicationContext, Digital.Contact">
        <databaseInitializer type="Digital.Contact.DAL.CommunicationInitializer, Digital.Contact" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" >
      </provider>-->
    </providers>
  </entityFramework>
  <system.serviceModel>
    <services>
      <service name="Digital.Service.Implements.Service" behaviorConfiguration="DatabaseServiceMEX">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4502/"/>
            <add baseAddress="http://localhost:4503"/>
          </baseAddresses>
        </host>
        <!--<endpoint address="CallbackService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Yokogawa.AAM.WCF.CommonService.Interfaces.ICommonService" />-->
        <endpoint address="ConfigService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.IConfigService" />
        <endpoint address="UserService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.IUserService" />
        <endpoint address="CompanyService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.ICompanyService" />
        <endpoint address="CasesCategoryService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.ICasesCategoryService" />
        <endpoint address="CasesService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.ICasesService" />
        <endpoint address="NewsCategoryService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.INewsCategoryService" />
        <endpoint address="NewsService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.INewsService" />
        <endpoint address="PatentService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.IPatentService" />
        <endpoint address="SinglePageService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.ISinglePageService" />
        <endpoint address="FileCabinetService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.IFileCabinetService" />
        <endpoint address="CertificateService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.ICertificateService" />
        <endpoint address="FolderService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.IFolderService" />
        <endpoint address="WebSiteService" binding="customBinding" bindingConfiguration="TcpBinding" contract="Digital.Service.Interfaces.IWebSiteService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <add name="exceptionShieldingBehaviorElement" type="Digital.Common.WCF.ErrorHandlers.ExceptionShieldingBehaviorElement, Digital.Common"/>
      </behaviorExtensions>
    </extensions>

    <bindings>
      <customBinding>
        <binding name="TcpBinding"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 
                   >
          <binaryMessageEncoding maxSessionSize="100000">
            <readerQuotas maxDepth="64"
                    maxStringContentLength="2147483647"
                    maxArrayLength="2147483647"
                    maxBytesPerRead="2147483647"
                    maxNameTableCharCount="16384"
                      />
          </binaryMessageEncoding>
          <tcpTransport portSharingEnabled="false"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                  
                  />

        </binding>
      </customBinding>

      <!--<netTcpBinding>
        <binding name="TcpBinding"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 maxReceivedMessageSize="10485760"
                 maxBufferSize="10485760"
                 maxBufferPoolSize="10485760"
                  >
          <security mode="None"/>

          <readerQuotas
                     maxArrayLength="10485760"
                     maxBytesPerRead="10485760"
                      maxDepth="10485760"
                      maxNameTableCharCount="10485760"
                      maxStringContentLength="2147483647" 
                     />
        </binding>
      </netTcpBinding>-->

      <wsHttpBinding>
        <binding name="MexBinding">
          <readerQuotas maxArrayLength="2147483647"
                     maxBytesPerRead="10485760"
                      maxDepth="10485760"
                      maxNameTableCharCount="2147483647"
                      maxStringContentLength="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DatabaseServiceMEX">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="10485760"/>
          <exceptionShieldingBehaviorElement/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>