@using Digital.Common.Mvc.Extensions
@{
    ViewBag.Title = "企业资质管理";
    Layout = "~/Views/Shared/_LayoutDigital.cshtml";
}

@section PageSpecificJavascriptIncludes{
    <link rel="stylesheet" href="../DigitalStyle/css/jquery.gritter.css" />
    <link rel="stylesheet" href="../DigitalStyle/css/prettyPhoto.css" />
    <link rel="stylesheet" href="../DigitalStyle/css/bootstrap-fileupload.min.css" />

    <script src="../DigitalStyle/js/jquery.autogrow-textarea.js"></script>
    <script src="../DigitalStyle/js/jquery.gritter.min.js"></script>
    <script src="../DigitalStyle/js/jquery.validate.min.js"></script>
    <script src="../DigitalStyle/js/JqueryToken.js"></script>
    <script src="../DigitalStyle/js/messages_cn.js"></script>

    <script src="../DigitalStyle/js/jquery.prettyPhoto.js"></script>
    <script src="../DigitalStyle/js/bootstrap-fileupload.min.js"></script>
    <script type="text/javascript" src="@Url.StaticFile("/DigitalStyle/js/flashupload.js")"></script>

}


<div class="pageheader">
    <h2><i class="fa fa-user"></i> 资质证书 <span>企业资质</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">你的位置:</span>
        <ol class="breadcrumb">
            <li><a href="">企业中心</a></li>
            <li class="active">企业资质</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
    <div class="row">
        <div class="contentpanel">
            <ul class="filemanager-options">
                <li>
                    <div class="ckbox ckbox-default">
                        <input type="checkbox" id="selectall" value="1" />
                        <label for="selectall">全选</label>
                    </div>
                </li>
                <li>
                    <a href="#" onclick="javascript:void(0);" class="itemopt disabled"><i class="fa fa-trash-o"></i> 删除证书</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-pencil"></i> 添加证书</a>
                </li>
            </ul>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row filemanager">

                    </div><!-- row -->
                </div><!-- col-sm-9 -->
            </div>
        </div>
    </div>
</div>

<div id="DetailModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title">企业资质</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-bordered" id="firstForm" onsubmit="return false">
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="asterisk">*</span>证书名称</label>
                        <div class="col-sm-6">
                            <input id="CertificateName" type="text" placeholder="证书名称..." class="form-control" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="asterisk">*</span>证书缩略图</label>
                        <div class="col-sm-6">
                            <div class="fileupload fileupload-new" data-provides="fileupload" id="container">
                                <div class="input-append">
                                    <div class="uneditable-input">
                                        <i class="glyphicon glyphicon-file fileupload-exists"></i>
                                        <span id="filelist" class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-new">选择证书缩略图</span>
                                        <span class="fileupload-exists">更改</span>
                                        @*@Model.NewsThumbnail*@
                                        <input id="pickfiles" value="" type="file" />
                                    </span>
                                    <a href="#" id="uploadfiles" class="btn btn-default">上传</a>
                                </div>
                            </div>
                            @*@Model.NewsThumbnail*@
                            <input id="ImagePath" type="hidden" value="" />
                            @*@Html.IsNull(Model.NewsThumbnail, "../DigitalStyle/images/pic-none.png", Model.NewsThumbnail)*@
                            <img id="PersonImage" src="../DigitalStyle/images/pic-none.png" class="thumbnail img-responsive" alt="" />

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="checkbox">证书描述</label>
                        <div class="col-sm-6">
                            <textarea id="CertificateIntro" class="form-control" placeholder="请在此输入证书描述..." rows="10"></textarea>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button class="btn btn-primary" onclick="javascript:Save();">提交</button>&nbsp;
                                <button class="btn btn-default">取消</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="DivFile" class="col-xs-6 col-sm-4 col-md-3 document" style="display:none">
    <div class="thmb">
        <input type="hidden" id="folder{index}" value="{FolderName}" />
        <input type="hidden" id="file{index}" value="{FileName}" />
        <div class="ckbox ckbox-default">
            <input type="checkbox" id="check{index}" value="{index}" />
            <label for="check{index}"></label>
        </div>
        <div class="btn-group fm-group">
            <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu fm-menu" role="menu">
                <li><a href="#"><i class="fa fa-pencil"></i> Download</a></li>
                <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
            </ul>
        </div><!-- btn-group -->
        <div class="thmb-prev">
            <img src="../DigitalStyle/images/photos/media-doc.png" class="img-responsive" alt="" />
        </div>
        <h5 class="fm-title"><a href="">{FileName}</a></h5>
        <small class="text-muted">Added: {FileDate}</small>
    </div><!-- thmb -->
</div><!-- col-xs-6 -->

<script>
    jQuery(document).ready(function () {

        $("#CertificateIntro").autogrow();

        jQuery('.thmb').hover(function () {
            var t = jQuery(this);
            t.find('.ckbox').show();
            t.find('.fm-group').show();
        }, function () {
            var t = jQuery(this);
            if (!t.closest('.thmb').hasClass('checked')) {
                t.find('.ckbox').hide();
                t.find('.fm-group').hide();
            }
        });

        jQuery('.ckbox').each(function () {
            var t = jQuery(this);
            var parent = t.parent();
            if (t.find('input').is(':checked')) {
                t.show();
                parent.find('.fm-group').show();
                parent.addClass('checked');
            }
        });


        jQuery('.ckbox').click(function () {
            var t = jQuery(this);
            if (!t.find('input').is(':checked')) {
                t.closest('.thmb').removeClass('checked');
                enable_itemopt(false);
            } else {
                t.closest('.thmb').addClass('checked');
                enable_itemopt(true);
            }
        });

        jQuery('#selectall').click(function () {
            if (jQuery(this).is(':checked')) {
                jQuery('.thmb').each(function () {
                    jQuery(this).find('input').attr('checked', true);
                    jQuery(this).addClass('checked');
                    jQuery(this).find('.ckbox, .fm-group').show();
                });
                enable_itemopt(true);
            } else {
                jQuery('.thmb').each(function () {
                    jQuery(this).find('input').attr('checked', false);
                    jQuery(this).removeClass('checked');
                    jQuery(this).find('.ckbox, .fm-group').hide();
                });
                enable_itemopt(false);
            }
        });

        function enable_itemopt(enable) {
            if (enable) {
                jQuery('.itemopt').removeClass('disabled');
            } else {

                // check all thumbs if no remaining checks
                // before we can disabled the options
                var ch = false;
                jQuery('.thmb').each(function () {
                    if (jQuery(this).hasClass('checked'))
                        ch = true;
                });

                if (!ch)
                    jQuery('.itemopt').addClass('disabled');
            }
        }

        //Replaces data-rel attribute to rel.
        //We use data-rel because of w3c validation issue
        jQuery('a[data-rel]').each(function () {
            jQuery(this).attr('rel', jQuery(this).data('rel'));
        });

        jQuery("a[rel^='prettyPhoto']").prettyPhoto();

        // With Form Validation Wizard
        var $validator = jQuery("#firstForm").validate({
            highlight: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-error');
            }
        });
    });

</script>



