@using Digital.WCFClient.ConfigService
@using System.Collections.ObjectModel
@using Digital.Common.Mvc.Extensions
@using Digital.Web.Controllers
@using Microsoft.AspNet.Identity
@using Digital.Common.Utilities
@{
    ViewBag.Title = "企业播报列表";
    Layout = "~/Views/Shared/_LayoutDigital.cshtml";
}

<link href="../DigitalStyle/css/morris.css" rel="stylesheet">
<link href="../DigitalStyle/css/jquery.datatables.css" rel="stylesheet">

<link href="../DigitalStyle/css/jquery.gritter.css" rel="stylesheet">
<script src="../DigitalStyle/js/jquery.gritter.min.js"></script>

<div class="pageheader">
    <h2><i class="fa fa-user"></i> 企业播报列表 <span>企业播报</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">你的位置:</span>
        <ol class="breadcrumb">
            <li><a href="">企业中心</a></li>
            <li class="active">企业播报</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
    <div class="row">

        <div class="btn-group mr10">
            <button class="btn btn-white" type="button"><i class="fa fa-check mr5"></i>全选</button>
            @*<button class="btn btn-white" type="button"><i class="fa fa-minus-square mr5"></i> 取消</button>*@
        </div>

        <div class="btn-group mr10">
            <button class="btn btn-success" type="button"><i class="fa fa-pencil mr5"></i>发布播报</button>
            <button class="btn btn-danger" type="button"><i class="fa fa-trash-o mr5"></i>删除播报</button>
        </div>

        <div class="btn-group mr10">
            @*<button class="btn btn-warning" type="button"><i class="fa fa-external-link mr5"></i> 更改浏览权限</button>*@
            @*<button class="btn btn-white" type="button"><i class="fa fa-share mr5"></i> 移动</button>*@
        </div>


        <div class="table-responsive">
            <table class="table table-primary table-buglist">
                <thead>
                    <tr>
                        <th>排序</th>
                        <th>选择</th>
                        <th>权限</th>
                        <th>文章标题</th>
                        <th>所属分类</th>
                        <th>发布时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewBag.NewsList != null)
                        {
                            foreach (var NewsMode in (List<NewsModel>)ViewBag.NewsList)
                            {
                                <tr>
                                    <td>11</td>
                                    <td><input type="checkbox" id="checkboxDanger" checked="" /></td>
                                    <td><a href="view-issue.html">所有人可浏览</a></td>
                                    <td><a href="view-issue.html">@NewsMode.NewsTitle</a></td>
                                    <td>@NewsMode.NewsCategoryModel.NewsCategoryName</td>
                                    <td>@NewsMode.ReleaseTime</td>
                                    <td class="table-action-hide">
                                        <a href=""><i class="fa fa-pencil"></i></a>
                                        <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }
                        }

                    }


                    <tr>
                        <td>12</td>
                        <td><input type="checkbox" id="checkboxDanger" checked="" /></td>
                        <td><a href="view-issue.html">仅好友圈可浏览</a></td>
                        <td><a href="view-issue.html">Div Not Valid Elements</a></td>
                        <td>ARM工控板</td>
                        <td>2014-8-28</td>
                        <td>
                            <div class="btn-group">
                                <a data-toggle="dropdown" class="dropdown-toggle">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <ul role="menu" class="dropdown-menu pull-right">
                                    <li><a href="#">View Issue</a></li>
                                    <li><a href="#">Close Issue</a></li>
                                    <li><a href="#">Resolve Issue</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Assign</a></li>
                                    <li><a href="#">Comment</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <ul class="pagination pagination-split nomargin">
            <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul>

    </div>
</div>

<script src="../DigitalStyle/js/jquery-1.10.2.min.js"></script>
<script src="../DigitalStyle/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../DigitalStyle/js/bootstrap.min.js"></script>
<script src="../DigitalStyle/js/modernizr.min.js"></script>
<script src="../DigitalStyle/js/jquery.sparkline.min.js"></script>
<script src="../DigitalStyle/js/toggles.min.js"></script>
<script src="../DigitalStyle/js/retina.min.js"></script>
<script src="../DigitalStyle/js/jquery.cookies.js"></script>

<script src="../DigitalStyle/js/jquery.datatables.min.js"></script>

<script src="../DigitalStyle/js/morris.min.js"></script>
<script src="../DigitalStyle/js/raphael-2.1.0.min.js"></script>
<script src="../DigitalStyle/js/chosen.jquery.min.js"></script>

<script src="../DigitalStyle/js/jquery.validate.min.js"></script>
<script src="../DigitalStyle/js/JqueryToken.js"></script>
<script>
    jQuery(document).ready(function () {

        jQuery('#table1').dataTable();

        jQuery('#table2').dataTable({
            "sPaginationType": "full_numbers"
        });

        // Chosen Select
        jQuery("select").chosen({
            'min-width': '100px',
            'white-space': 'nowrap',
            disable_search_threshold: 10
        });

        // Delete row in a table
        jQuery('.delete-row').click(function () {
            var c = confirm("Continue delete?");
            if (c)
                jQuery(this).closest('tr').fadeOut(function () {
                    jQuery(this).remove();
                });

            return false;
        });

        // Show aciton upon row hover
        jQuery('.table-hidaction tbody tr').hover(function () {
            jQuery(this).find('.table-action-hide a').animate({ opacity: 1 });
        }, function () {
            jQuery(this).find('.table-action-hide a').animate({ opacity: 0 });
        });


    });
</script>


<script src="../DigitalStyle/js/custom.js"></script>
<script>
    jQuery(document).ready(function () {

        // Chosen Select
        jQuery(".chosen-select").chosen({
            'width': '100%',
            'white-space': 'nowrap',
            disable_search: true
        });

        //new Morris.Bar({
        //    // ID of the element in which to draw the chart.
        //    element: 'bar-chart',
        //    // Chart data records -- each entry in this array corresponds to a point on
        //    // the chart.
        //    data: [
        //        { y: '2006', a: 30, b: 20 },
        //        { y: '2007', a: 75, b: 65 },
        //        { y: '2008', a: 50, b: 40 },
        //        { y: '2009', a: 75, b: 65 },
        //        { y: '2010', a: 50, b: 40 },
        //        { y: '2011', a: 75, b: 65 },
        //        { y: '2012', a: 100, b: 90 }
        //    ],
        //    xkey: 'y',
        //    ykeys: ['a', 'b'],
        //    labels: ['Solved', 'Unresolved'],
        //    barColors: ['#D9534F', '#F0AD4E'],
        //    lineWidth: '1px',
        //    fillOpacity: 0.8,
        //    smooth: false,
        //    hideHover: true
        //});

    });
</script>

